<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8">
    <%
    var title = page.title;

    if (is_archive()) {
        title = __('archive_a');

        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }
    
    %>
    <title>
        <% if (title){ %><%= title %> |
        <% } %>
        <%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- open_graph({
        twitter_id: theme.twitter,
        google_plus: theme.google_plus,
        fb_admins: theme.fb_admins,
        fb_app_id: theme.fb_app_id
    }) %>
    <% if (theme.rss){ %>
        <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
        <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <% theme.stylesheets.forEach(url => { %>
            <link rel="stylesheet" href="<%= config.url + url %>">
        <% }); %>
    <% } %>
</head>
<body>

<div id="banner-outer" class="author">
    <img src="<%= theme.site.avatar %>" id="avatar">
    <h2 class="author-name"><%=config.author%></h2>
    <p class="author-bio"><%=theme.site.bio%></p>
</div>

<div id="menu-outer">
    <div id="menu-inner">
        <% Object.keys(theme.menu).forEach(key => { %>
            <a class="<%- is_current(theme.menu[key]) && 'active' %>" href="<%= config.url + theme.menu[key] %>"><%= key %></a>
        <% }); %>
    </div>
</div>

<div id="content-outer" class="container">
    <div id="content-inner">
        <%- body %>
    </div>
</div>

<div id="bottom-outer">
    <div id="bottom-inner">
        <!--如果有设置theme.since，并且时间小于当前时间（年份），形式为：@ 2018 - 2019(+作者/标题)；否则默认为当前年份(+作者/标题)。 -->
    		<% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %>
                 <%- theme.since %>-<%= date(new Date(), 'YYYY') %>
            <% } else { %>
                 <%= date(new Date(), 'YYYY') %>
            <% } %>
            <%= config.author || config.title %>
    </div>
</div>

<div id="to-top">
    <i class="iconfont icon-up"></i>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <% theme.scripts.forEach(url => { %>
        <script src="<%= config.url + url %>"></script>
    <% }); %>
<% } %>

<% if (is_post()) { %>
    <script>
      $(function () {
        $('#banner-outer').addClass('fade-out')
        $('#menu-outer').addClass('fade-show')

        $('pre').each(function (i, block) {
          hljs.highlightBlock(block);
        });
      })
    </script>
<% } %>

<script>
  $(function () {
    $(window).scroll(function () {
      if ($(window).scrollTop() > 150) {
        $("#to-top").fadeIn();
      } else {
        $("#to-top").fadeOut();
      }
    });
    $("#to-top").click(function () {
      $("body,html").animate({scrollTop: 0}, 500);
      return false;
    })
  })
</script>
</body>
</html>
